.main{
    height:100%;
    width:100%;  
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
  #Footer-Text-Logo{
    text-align:center;
    color: #F1FAEE; 
    font-size: 3rem;
  }
  
  .roller{
    height: 5rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5c5ef3;
  }
  
  
  .roller #rolltext {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    animation: slide 7s infinite;  
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }
  
  @media screen and (max-width: 600px){
    .Footer-Text-Logo{
    text-align:center;
    text-transform: uppercase;
    color: #F1FAEE; 
    font-size: 1.75rem;
  }
    
    .roller{
    height: 1.75rem; 
    line-height: 2.125rem;  
    }
    
    .roller #rolltext {  
    animation: slide-mob 7s infinite;  
  }
    
    @keyframes slide-mob {
    0%{
      top:0;
    }
    25%{
      top: -2.125rem;    
    }
    50%{
      top: -4.25rem;
    }
    72.5%{
      top: -6.375rem;
    }
  }
  }