@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Teko&family=Protest+Strike:wght@300&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #01014b;
    color:white;
    overflow-x: hidden;
}
/* .fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0px !important;/**/
  /* }
  #card-1{
    z-index: -2;
  }
  #card-2{
    z-index: -1;
  } */ 
  